 [Unit]
 Description=Paperless Interface for the Raspberry Pi
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/home/pi/rpi-paperless/paperless-venv/bin/python /home/pi/rpi-paperless/start.py

 [Install]
 WantedBy=multi-user.target