[Unit]
Description=Paperless Interface for the Raspberry Pi
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/rpi-paperless
ExecStart=/home/pi/rpi-paperless/paperless-venv/bin/python /home/pi/rpi-paperless/start.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
